.navStyle{
  background-color: #a3d4f7;
  color: white;
  border-bottom: 0px solid rgba(255, 255, 255, 0.466);
}
body {
  background: linear-gradient(to bottom, #60a2d7, #a3d4f7);
  /* background-image: url(../src/img/OLBKWF0.jpg); */
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 

}
.formInputNav{
  background-color: #60a2d7;
  border-radius: 20px;
  width: 500px;
  border: none;
  opacity: 0.8;
}
.temp{
  font-size: 80px;
 
}
.cityText{
  font-size: 1.8em;
}
.gradeMinMax{
  font-size: 1.2em;
}
.typeTemp{
  font-size: 1.2em;
  opacity: 0.5;
}
.btnSearch{
  background-color: transparent;
  border: none;
}
.containerCard{
  backdrop-filter: blur(20px);
}