.navStyle{
  background-color: #72d3ff;
  color: white;
  border-bottom: 2px solid white;
}
body {
  background: linear-gradient(to bottom, #72d3ff, #0090c1);
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
}
.formInputNav{
  background-color: #53c7fd;
}
.temp{
  font-size: 80px;
 
}
.cityText{
  font-size: 1.8em;
}
.gradeMinMax{
  font-size: 1.2em;
}
.typeTemp{
  font-size: 1.2em;
  opacity: 0.5;
}
